# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Ferran\Documents\1.Documents\1.Universitat\Q6\ECSDI\LAB\git\ECSDI2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
